.form-control-feedback
{
	left:-1px;
}
.glyphicon-search
{
 color: grey; 
} 
.navbar-brand img
{
	margin-top: -13px;
	 margin-left: -10px;
	 border:none;
	 outline: none;
}
nav.navbar-inverse
{
	background: black;
}